<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="name.invalid  && name.touched"
            [class.has-success]="name.valid">
                <label for="name" class="control-label">Name</label>
                <!-- <input required id="name" name="name" ngModel="" type="text" class="form-control" #nameControl = "ngModel"/> -->
                <input required id="name" name="name" [(ngModel)]="employee.name" type="text" class="form-control" #name = "ngModel"/>
                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Name is required
                </span>
            </div>

            <!-- <div>touched: {{nameControl.touched}}</div>
            <div>untouched: {{nameControl.untouched}}</div>
            <div>pristine: {{nanameControlme.pristine}}</div>
            <div>dirty: {{nameControl.dirty}}</div>
            <div>valid: {{nameControl.valid}}</div>
            <div>invalid: {{nameControl.invalid}}</div> -->

            <div class="form-group" [class.has-error]="email.invalid" [class.has-success]="email.valid">
                <label for="email" class="control-label">Email</label>
                <input id="email" [required]="contactPreference.value=='email'" email name="email" [(ngModel)]="employee.email" type="text" class="form-control" #email="ngModel"/>

                <span class="help-block" *ngIf="email.errors">
                    Email is required
                  </span>                 
            </div>

            <div class="form-group" [class.has-error]="phone.invalid" [class.has-success]="phone.valid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input id="phoneNumber" [required]="contactPreference.value=='phone'" name="phoneNumber" [(ngModel)]="employee.phoneNumber" type="text" class="form-control" #phone="ngModel"/>

                <span class="help-block" *ngIf="phone.invalid">
                    Phone is required
                  </span> 
            </div>

            <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
                <label class="control-label">Contact Preference</label>     
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required #contactPreference="ngModel" value="email" name="contactPreference" [(ngModel)]="employee.contactPreference"/>
                        Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" required #contactPreference="ngModel" value="phone" name="contactPreference" [(ngModel)]="employee.contactPreference"/>
                        Phone
                    </label>
                </div>          
                <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">
                    Contact Preference is required
                  </span>  
                  <!-- Contact Preference Selected Value : {{contactPreference.value}} -->
            </div>

            <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
                <label for="gender" class="control-label">Gender</label>     
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required #gender="ngModel" value="male" name="gender" [(ngModel)]="employee.gender"/>
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" required #gender="ngModel" value="female" name="gender" [(ngModel)]="employee.gender"/>
                        Female
                    </label>
                </div>    
                <span class="help-block" *ngIf="gender.touched && gender.invalid">
                    Gender is required
                  </span>         
            </div>

            <div class="form-group" [class.has-error]="isActive.touched && isActive.invalid">               
                <div class="form-control">
                    <label class="checkbox-inline control-label">
                        <input type="checkbox" [required]="employee.isActive==null" name="isActive" [(ngModel)]="employee.isActive" #isActive="ngModel"/>
                        Is Active
                    </label>                   
                </div>  
                <span class="help-block" *ngIf="isActive.touched && isActive.invalid">
                    Is Active is required
                  </span>          
            </div>

            <div class="form-group" [class.has-error]="department.touched && department.invalid">                              
                <label for="department" class="control-label">
                    Department                        
                </label>             
                <select id="department" required class="form-control" name="department" [(ngModel)]="employee.department" #department="ngModel">
                    <option disabled [ngValue]="undefined">Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>                      
                </select>      
                <span class="help-block" *ngIf="department.touched && department.invalid">
                    Department is required
                  </span>                       
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label for="dateOfBirth">Date of Birth</label>
                    <!-- <input id="dateOfBirth" name="dateOfBirth" ngModel="dateOfBirth" type="date" class="form-control"/> -->
                    <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" placement="right"/>
                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" type="text" class="form-control"/>
            </div>

            <div class="form-group">
                <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
                    {{previewPhoto ? 'Hide' : 'Show'}} Preview
                </button>
            </div>

            <div class="form-group">
              <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto">
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated Form Model: {{employeeForm.value | json}}
<br/>
<br/>
Our Employee Model: {{employee | json}}
  