<div class="form-group">
   <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm"/>
</div>
<!-- <h1 *ngIf="dataFromChild">
   {{dataFromChild.name + ' ' + dataFromChild.gender}}
</h1> -->
<div *ngFor="let employee of filteredEmployees">
   <app-display-employee [employee]="employee" [searchTerm]="searchTerm" (notify)="handleNotify($event)" (notifyDelete)="onDeleteNotification($event)"></app-display-employee>
   <!-- <div (click)="onClick(employee.id)" class="pointerCursor">
      <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
   </div>    -->
</div>


<!-- <div *ngFor="let employee of employees | employeeFilter: searchTerm">
   <div (click)="onClick(employee.id)" class="pointerCursor">
      <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
   </div>   
</div> -->

<!-- <div *ngFor="let employee of employees | employeeFilter: searchTerm">
   <div (click)="onClick(employee.id)" class="pointerCursor">
      <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
   </div>   
</div> -->

  <!-- <button (click)="nextEmployee()" class="btn btn-primary">
   View Next Employee
  </button>
  <br/>
  <br/>
  <app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->